header{
    background-color: white;
    height: 80px;
    box-shadow: 10px 10px 5px rgba(106, 68, 134, 0.5);

}
#header{
    display: flex;
    justify-content: center space-between;
}
#leftside{
    width: 50%;
    height: 40px;
    text-align: center;
    font-weight: 900;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #8b1bd7;
}
#rightside{
    width: 50%;
    height: 40px;
    display: flex;
    flex-direction: row;
    text-align: center;
}
#rightside a{
    margin: 20px;
    font-size: larger;
    font-weight: 800;
    text-decoration: none;
    color: rgb(1, 1, 57);
    padding-bottom: 15px;
    cursor: pointer;
}
#rightside a:hover{
    text-decoration: underline;
    color: rgb(255, 221, 0);
}
main{
    background-color: rgb(240, 240, 240);

}
#container{
    width: 95%;
    padding: 20px;
    display: flex;
    flex-direction: row;

    justify-content: center space-around;
}
#left{
    width: 40%;
    height: 40%;
    padding: 40px;
    font-size: larger;
    text-align: center;
}
h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
b{
    color: rgb(94, 1, 180);
}
i{
    color: rgb(228, 61, 61);
}
button{
    width: 140px;
    height: 60px;
    background-color: rgb(94, 1, 180);
    border: white 3px solid;
    font-size: large;
    cursor: pointer;
    transition: transform 0.2s;
    border-radius: 30px;
    box-shadow: 10px  10px 10px rgba(175, 82, 247, 0.5),-10px  -10px 10px rgba(175, 82, 247, 0.5);
}
button:hover{
    transform: scale(1.05);
}
button a{
    text-decoration: none;
    color: white;
}
.social-icons {
  display: flex;
  gap: 15px;
  font-size: 30px;
  margin: 20px;
  justify-content: center;
}

.social-icons a {
  color: #000000;
  text-decoration: none;
  transition: color 0.7s ease-in-out;
}

.social-icons a:hover {
  color: #8b1bd7;
  transform: scale(1.05); 
}

#right{
    padding: 20px;
    width: 40%;
    height: 40%;

}
#container2{
    height: 300px;
    width: 300px;
    background-color: rgb(94, 1, 180) ;
    border: 3px solid black;
    border-radius: 150px;
    margin: auto;
}
#container2 img{
    width: 300px;
    height: 300px;
    border-radius: 150px;
}
#about {
    background-color: rgb(255, 255, 255);
    display: block;
    text-align: center;
}
#about h1{
    font-size: xx-large;
}
#righta{
    width: 50%;
    height: 400px;
    background-color: #8b1bd7;
    color: white;
    border-radius: 30px;
    padding: 20px;
    margin-top: 50px;
    margin: auto;
    border: 3px black solid;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 800;
    font-style: italic;
    font-size: 20px;

}
#cv{
    background-color: #000000;
    
}
#skills{
    height:100%;
    background-color: rgb(94, 1, 180);
    color: white;
    display: block;
    text-align: center;
    padding-bottom: 30px;
}
#containerskills{
    width: 80%;
    height: 100%;
     background-color: #350754;
     color: white;
    border-radius: 30px;
    box-shadow: 5px 5px 10px rgba(175, 82, 247, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    margin: auto;
    padding: 30px;
}
#containerskills img{
    width: 200px;
    height: 200px;
}
.images{
    width: 220px;
    height: 250px;
    border-radius: 15px;
    background-color: #1a0f90;
    padding: 5px;
    cursor: pointer;
    transition: transform 0.2s;
}
.images :hover{
    transform: scale(1.05);
}
#edu{
    background-color: rgb(215, 252, 240);
    text-align: center;
    padding-bottom: 30px;
}
.kif{
    width: 70%;
    height: 100%;
    background-color: white;
    margin: auto;
    padding: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center space-between;
}
.ph{
    width: 300px;
    
    padding-left: 0px;
}
.ph img{
    width: 250px;
    margin-left: 0px;
}
.aa{
    margin-left: 30px;
    padding: 25px;
    text-align: left;
}
.aa h1{
    color: #09052e;
}
.aa h2{
    color: rgb(2, 72, 2);
}
footer{
    background-color: #070953;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    display: block;
}
#fout{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: auto;
}
.foutc{
    width: 380px;
    height: 400px;
    text-align: center;

}
.yello a{
    cursor: pointer;
    text-decoration: none;
    font-size: larger;
    color: white;
}
.yello :hover{
    text-decoration: underline;
    color: rgb(255, 221, 0);
}
#end{
    width: 100%;
    text-align: center;
    border-top: white 2px solid;
}
@media (max-width: 600px) {
  .item {
    width: 48%; 
  }
}

@media (max-width: 400px) {
  .item {
    width: 98%;
  }
}



